<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div id="login-box">

  <h2>Sign Up</h2>

  <div class="login-box-row" >
    <%= label_tag :username %>
    <%= text_field_tag :username, params[:username], :class =>'form-login' %>
  </div>
  <div class="login-box-row" >
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email], :class =>'form-login' %>
  </div>
  <div class="login-box-row">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, :class =>"form-login" %>
    </div>
    <div class="login-box-row">
    <%= label_tag :password_confirmation %>
    <%= password_field_tag :password_confirmation, nil, :class =>"form-login" %>
    <p><%= submit_tag 'Sign up', :class =>'blue_btn' %></p>
  </div>
</div>
<% end %>

